.actions {
  box-sizing: border-box;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
}
.download {
  background-color: #ff6644;
  color: #ffffff;
  border-color: #ff6644;
}